.about {
  padding-top: 33px + 40px + $mobile-srv-shift + $border-radius;
  padding-bottom: 80px;
  background-color: $blue-color;
  background-image: url("../../img/about-mobile@1x.png");
  background-position: 50% 40px + $mobile-srv-shift + $border-radius;
  background-repeat: no-repeat;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.about__wrapper {
  padding: 0 $mobile-content-padding;
}

.about__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 133px + $tablet-srv-shift + $border-large-radius;
    padding-bottom: 90px;
    background-image: url("../../img/about-tablet@1x.png");
    // todo: background-clip, background-origin?
    background-position: calc(50% + 198px) 133px + $tablet-srv-shift + $border-large-radius;
    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;
  }

  .about__wrapper {
    padding-left: $tablet-content-padding;
    padding-right: $tablet-wrapper-width / 2;
  }

  .about__btn {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 52px + 81px + $border-large-radius;
    padding-bottom: 163px;
    background-image: url("../../img/about-desktop@1x.png");
    background-position: calc(50% + 345px) 81px + $border-large-radius;
  }

  .about__wrapper {
    padding-left: $desktop-content-padding;
    padding-right: $desktop-wrapper-width / 2;
  }
}
