.add-plan {
  padding-top: 30px;
  padding-bottom: 44px + $border-radius;
  background-color: #d4d9eb;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.add-plan__dialog {
  display: none;
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-top: 57px;
    padding-bottom: 63px + $border-large-radius;
  }
}
