.add-plan {
  padding-top: 30px;
  padding-bottom: 44px + $border-radius;
  background-color: #d4d9eb;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.add-plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  padding-right: 18px;
}

.add-plan__steps {
  display: flex;

  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;

}

.add-plan__step {
  width: 5px;
  height: 5px;
  background-color: #808285;
  border-radius: 50%;
  opacity: 0.3;

  &--current {
    background-color: $dark-slate-blue-color;
    opacity: 1;
  }

  &:not(:first-of-type) {
    margin-left: 16px;
  }
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-top: 57px;
    padding-bottom: 63px + $border-large-radius;
  }

  .add-plan__step {
    &:not(:first-of-type) {
      margin-left: 29px;
    }
  }

  .add-plan__header,
  .add-plan__form {
    padding: 0 $tablet-content-padding;
  }

  .add-plan__header {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    padding-top: 57px;
    padding-bottom: 72px + $border-large-radius;
    border-top-left-radius: $border-large-radius;
    border-top-right-radius: $border-large-radius;
  }

  .add-plan__header {
    padding: 0 $desktop-content-padding;
  }

  .add-plan__form {
    padding-left: 0;
    padding-right: 0;
  }

  .add-plan__steps {
    display: none;
  }
}
