.auth-btn {
  display: block;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 40px;
  @include font(17px, 30px, $dark-blue-color, 700);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $yellow-color;
  border-radius: $border-small-radius;

  border: none;
  appearance: none;
  cursor: pointer;

  &--color {
    &--dark-blue {
      color: $dark-slate-blue-color;

      .auth-btn__icon {
        fill: $dark-slate-blue-color;
      }
    }
  }

  &--bg {
    &--transparent {
      background-color: transparent;
    }

    &--white {
      background-color: $white-color;
    }

    &--periwinkle {
      background-color: $periwinkle-color;
    }
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
}

.auth-btn__icon {
  flex-shrink: 0;

  &--plus {
    margin-right: 15px;
    width: 18px;
    height: 18px;
  }

  &--close {
    margin-right: 12px;
    width: 12px;
    height: 12px;
  }
}

@media (min-width: $tablet-width) {
  .auth-btn {
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 25px;
  }

  .auth-btn__icon {
    &--plus {
      margin-right: 25px;
      width: 27px;
      height: 27px;
    }

    &--close {
      margin-right: 21px;
      width: 18px;
      height: 18px;
    }
  }
}
