.base-btn {
  @include baseBtn();

  &--color {
    &--dark-blue {
      color: $dark-slate-blue-color;

      .base-btn__icon {
        fill: $dark-slate-blue-color;
      }
    }
  }

  &--bg {
    &--transparent {
      background-color: transparent;
    }

    &--white {
      background-color: $white-color;
    }

    &--periwinkle {
      background-color: $periwinkle-color;
    }
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
}

.base-btn__icon {
  flex-shrink: 0;

  &--plus {
    margin-right: 15px;
    width: 18px;
    height: 18px;
  }

  &--close {
    margin-right: 12px;
    width: 12px;
    height: 12px;
  }
}

@media (min-width: $tablet-width) {
  .base-btn {
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 25px;
  }

  .base-btn__icon {
    &--plus {
      margin-right: 25px;
      width: 27px;
      height: 27px;
    }

    &--close {
      margin-right: 21px;
      width: 18px;
      height: 18px;
    }
  }
}
