.body {
  margin: 0;
  padding: 0;
  color: $black-color;
  background-color: $white-color;
}

// .page__header {
//   // Для того, чтобы псевдо-блок с луной из intro поместить под header (только на мобильной версии)
//   margin-bottom: -77px;
// }

// .page__inner-header {
//   position: relative;
//   z-index: 100;
//   background-color: $dark-blue-color;
//   // TODO: это нужно для заголовка, который мы отправим в main! Для того чтобы header был один
//   // margin-bottom: -$border-small-radius;
// }

.body__main {
  margin-bottom: -$border-radius;
}

@media (min-width: $tablet-width) {
  // .page__header {
  //   margin-bottom: 0;
  // }

  // .page__inner-header {
  //   margin-bottom: -$border-large-radius;
  // }

  .body__main {
    margin-bottom: -$border-large-radius;
  }
}
