.btn {
  display: block;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 40px;
  @include font(17px, 30px, $dark-blue-color, 700);
  text-decoration: none;
  text-transform: uppercase;;
  text-align: center;
  background-color: $yellow-color;
  border-radius: $border-small-radius;
}
