.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: left;

  &--menu {
    .contact-list__link {
      color: $blue-color;
    }
  }
}

.contact-list__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include font(16px, 22px, $yellow-color, 700);

  text-decoration: none;
  text-transform: uppercase;

  @include wordWrap();

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: -31px;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
  }
}

.contact-list__icon {
  margin-right: 30px;
  width: 18px;
  height: 18px;
  fill: $yellow-color;
}

@media (min-width: $tablet-width) {
  .contact-list__link {
    font-size: 28px;
    line-height: 28px;

    &::before {
      margin-right: -47px;
      width: 68px;
      height: 68px;
    }
  }

  .contact-list__icon {
    margin-right: 43px;
    width: 27px;
    height: 27px;
  }
}

@media (min-width: $desktop-width) {
  .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-list__item {
    width: 50%;
    box-sizing: border-box;

    &:first-of-type {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
    }
  }

  .contact-list__link {
    min-width: 407px;

    &::before {
      margin-right: -63px;
      width: 90px;
      height: 90px;
    }
  }

  .contact-list__icon {
    margin-right: 58px;
    width: 36px;
    height: 36px;
  }
}
