.countries {
  padding-top: 72px + $border-radius;
  padding-bottom: $border-radius;
  background-color: $lilac-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.countries__header {
  padding: 0 $mobile-content-padding;
}

.countries__btn {
  &--top {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .countries {
    padding-top: 75px + $border-large-radius;
    padding-bottom: 26px + $border-large-radius;
    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;
  }

  .countries__wrapper {
    padding: 0 $tablet-content-padding;

    background-image: url("../../img/flags-back@1x.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 289px auto;
  }

  .countries__header {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .countries {
    padding-top: 160px + $border-large-radius;
    padding-bottom: 80px + $border-large-radius;
  }

  .countries__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 $desktop-content-padding;
  }

  .countries__header {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .countries__collection {
    width: 560px;
  }

  .countries__btn {
    &--top {
      display: block;
      margin-top: auto;
    }

    &--bottom {
      display: none;
    }
  }
}
