.country-filter {
  position: relative;
  padding-top: 20px + $border-small-radius;
  padding-bottom: 15px;
  background-color: #e2e5f2;
  border-bottom-left-radius: $border-small-radius;
  border-bottom-right-radius: $border-small-radius;

  @include font(16px, 22px, $black-color);
  // повышаем специфичность: .country-filter.country-filter--expanded
  &#{&}--expanded,
  &#{&}--no-js {
    position: absolute;
    left: 0;
    right: 0;
  }

  &--expanded,
  &--no-js {
    padding-bottom: 27px;

    .country-filter__header {
      margin-bottom: 22px;
    }

    .country-filter__open-btn {
      display: none;
    }

    .country-filter__close-btn {
      display: block;
    }

    .country-filter__continents,
    .country-filter__content,
    .country-filter__collapse-btn {
      display: block;
    }

    .country-filter__continents,
    .country-filter__content {
      padding: 0 $mobile-content-padding;
    }

    .country-filter__continents {
      margin-top: 34px;
      width: 100%;
    }

    .country-filter__content {
      margin-bottom: 28px;
    }

    .country-filter__letters {
      margin-bottom: 48px;
    }

    .country-filter__collapse-btn {
      width: 100%;
    }
  }
}

.country-filter__header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.country-filter__filter-icon {
  fill: #121936;
}

.country-filter__heading {
  margin: 0;
  margin-left: 12px;
  // margin-bottom: 17px;
  @include font(16px, 22px, $blue-color, 700);
  text-transform: uppercase;
}

.country-filter__open-btn,
.country-filter__close-btn {
  padding: 0;
  margin-left: auto;
  font-size: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.country-filter__open-btn {
  padding: 4px;
}

.country-filter__close-btn {
  display: none;
  padding: 0 7px;
}

.country-filter__open-icon,
.country-filter__close-icon {
  fill: $blue-color;
}

.country-filter__continents,
.country-filter__content,
.country-filter__collapse-btn {
  display: none;
}

.country-filter__continents,
.country-filter__country-extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-filter__continents {
  font-weight: 700;
  color: $blue-color;
  text-transform: uppercase;;
}

.country-filter__continent-label {
  display: block;
  opacity: 0.3;
  cursor: pointer;
}

.country-filter__continent-radio:checked + .country-filter__continent-label {
  opacity: 1;
}

.country-filter__continent-radio:focus + .country-filter__continent-label {
  outline: thin dotted;
  outline-offset: 2px;
}

.country-filter__collapse-btn {
  .country-filter__close-icon {
    margin-right: 12px;
  }
}

.country-filter__country-link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .country-filter {
    padding-top: 60px + $border-large-radius;
    padding-bottom: 60px;

    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;

    &--expanded {
      padding-bottom: 75px;

      .country-filter__header {
        margin-bottom: 69px;
      }

      .country-filter__continents {
        display: flex;
        order: -1;
        width: auto;
      }

      .country-filter__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .country-filter__continents,
      .country-filter__letters,
      .country-filter__country-extra-list {
        padding: 0;
      }

      .country-filter__letters {
        width: 360px;
      }

      .country-filter__country-extra-list {
        width: 215px;
      }

      .country-filter__collapse-btn--large {
        width: 100%;
      }
    }
  }

  .country-filter__wrapper {
    padding: 0 $tablet-content-padding;
  }

  .country-filter__heading {
    display: none;
  }

  .country-filter__continents {
    display: flex;
    order: -1;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .country-filter {

    &--expanded {
      position: static;
      padding-bottom: 74px;
      @include font(20px, 30px, $black-color, normal);
      background-color: $lilac-color;

      .country-filter__header {
        margin-bottom: 78px;
      }

      .country-filter__content {
        display: block;
      }

      .country-filter__letters {
        padding-left: $tablet-content-padding;
        padding-right: $desktop-content-padding;
        width: 100%;
      }

      .country-filter__letter {
        margin-bottom: 59px;
        width: 252px;
      }

      .country-filter__country-list {
        display: block;
      }

      .country-filter__country-extra-list {
        display: none;
      }
    }
  }

  .country-filter__wrapper {
    padding: 0;
  }

  .country-filter__header {
    padding: 0 $desktop-content-padding;
  }

  .country-filter__heading {
    display: block;
    order: -2;
    @include font(20px, 24px, #192144, 700);
  }
}
