.dropdown {
  position: relative;

  &--opened {
    .dropdown__content {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      box-sizing: border-box;
    }
  }
}

.dropdown__content {
  display: none;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .dropdown {
    &--opened {
      .dropdown__content {
        left: 0;
        right: auto;

        display: flex;
        justify-content: space-between;

        padding-top: 34px;
        padding-bottom: 96px;
        padding-left: 27px;
        padding-right: 0;

        width: 575px;
        box-sizing: border-box;
      }
    }
  }

  .dropdown__letters {
    width: 263px;
  }

  .dropdown__country-list {
    margin: 0;
    padding: 0;
    width: 207px;

    list-style: none;
  }
}

@media (min-width: $desktop-width) {
  .dropdown {
    &--opened {
      .dropdown__content {
        left: 0;
        right: 0;

        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 27px;
        padding-right: 0;

        width: 100%;
      }
    }
  }

  .dropdown__letters {
    width: 360px;
  }

  .dropdown__country-list {
    width: 243px;
  }
}

// .form__country {
//   position: relative;

//   &--opened {
//     border: none;

//     .form__country-placeholder {
//       color: $white-color;
//       background-color: #1d2e5b;
//       border-radius: 0px;
//       border-top-left-radius: 4px;
//       border-top-right-radius: 4px;
//     }

//     .form__dialog {
//       display: block;
//       position: absolute;
//       width: 100%;
//       box-sizing: border-box;
//       border: 1px solid #cbced9;
//       border-top: none;
//       border-bottom-left-radius: 10px;
//       border-bottom-right-radius: 10px;
//     }
//   }
// }

// .form__country-placeholder {
//   display: block;
//   background-color: $white-color;
//   border: 1px solid #cbced9;
//   border-radius: 4px;
// }

// .form__dialog {
//   display: none;
// }

