.fieldset {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 22px;

  @include font(16px, 22px, $black-color, 400);
  border: none;
  border-radius: 10px;
  background-color: $white-color;

  &--step-1 {
    .fieldset__content {
      margin-bottom: 22px;
    }
  }

  &--step-2 {
    .fieldset__content {
      margin-bottom: 25px;
    }
  }

  &--step-3 {
    .fieldset__content {
      margin-bottom: 22px;
    }
  }
}

.fieldset__header,
.fieldset__content {
  padding: 0 5px;
}

.fieldset__header {
  margin-bottom: 22px;
}

.fieldset__legend {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;

  @include font(20px, 20px, $dark-slate-blue-color, 700);
}

.fieldset__steps {
  display: none;
}

.fieldset__text {
  margin: 0;
}

.fieldset__text-br {
  display: none;
}

/* Step 1 */

.fieldset__travelmate-count {
  margin-bottom: 18px;
}

.fieldset__travel-period {
  margin-bottom: 21px;
}

.fieldset__children {
  margin-bottom: 21px;
}

/* Step 2 */

.fieldset__dropdown-control {
  position: relative;

  margin-bottom: 22px;
}

.fieldset__country-widget {
  display: none;

  &--expanded {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    display: block;
  }
}

/* Step 3 */

.fieldset__roadmap:not(:last-of-type) {
  margin-bottom: 23px;
}

.fieldset__controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .fieldset {
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 49px;
    padding-bottom: 53px;

    @include font(20px, 24px, $black-color, 400);
    border-radius: $border-radius;

    &--step-1 {
      .fieldset__header {
        margin-bottom: 22px;
      }

      .fieldset__content {
        margin-bottom: 46px;
      }
    }

    &--step-2 {
      .fieldset__header {
        margin-bottom: 41px;
      }

      .fieldset__content {
        position: relative;
        margin-bottom: 49px;

        &::before {
          content: "";
          position: absolute;
          top: -41px;
          right: 135px;
          width: 1px;
          height: calc(100% + 41px + 77px);
          background: linear-gradient(to top, transparent 10px, #d6d9e6 114px);
        }
      }
    }

    &--step-3 {
      .fieldset__header {
        margin-bottom: 27px;
      }

      .fieldset__content {
        margin-bottom: 47px;
      }
    }
  }

  .fieldset__header,
  .fieldset__content {
    padding: 0;
  }

  .fieldset__header {
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d9e6;
  }

  .fieldset__legend {
    margin-bottom: 35px;

    @include font(36px, 36px, $dark-slate-blue-color, 700);
  }

  .fieldset__text-br {
    display: inline;
  }

  .fieldset__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  /* Step 1 */

  .fieldset__travelmate-count {
    order: -2;
    margin-bottom: 25px;
  }

  .fieldset__travel-period {
    margin-bottom: 59px;
  }

  .fieldset__children {
    order: -1;
    margin-bottom: 25px;
    padding-bottom: 26px;
    border-bottom: 1px solid #d6d9e6;
  }

  /* Step 2 */

  .fieldset__dropdown-control {
    margin-bottom: 15px;
  }

  .fieldset__dropdown-btn {
    width: calc(100% - 163px);
  }

  .fieldset__country-widget {
    &--expanded {
      display: flex;
      width: calc(100% + 43px);
      box-sizing: border-box;
    }
  }

  /* Step 3 */

  .fieldset__roadmap:not(:last-of-type) {
    margin-bottom: 43px;
  }

  .fieldset__controls {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .fieldset__next-btn {
    min-width: 285px;
  }

  .fieldset__prev-btn {
    min-width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 100px;
    padding-bottom: 105px;
    border-radius: $border-large-radius;


    &--step-1 {
      .fieldset__header {
        margin-bottom: 30px;
      }
    }

    &--step-2 {
      .fieldset__header {
        margin-bottom: 62px;
      }

      .fieldset__content {
        &::before {
          top: -62px;
          right: 225px;
          width: 1px;
          height: calc(100% + 62px + 162px);
          background: linear-gradient(to top, transparent 10px, #d6d9e6 106px);
        }
      }
    }

    &--step-3 {
      .fieldset__header {
        margin-bottom: 74px;
      }
    }

    &--step-1,
    &--step-2,
    &--step-3 {
      .fieldset__content {
        margin-bottom: 56px;
      }
    }
  }

  .fieldset__header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding-bottom: 50px;
  }

  .fieldset__legend {
    margin-bottom: 30px;
    padding-right: 250px;

    @include font(36px, 50px, $dark-slate-blue-color, 700);
  }

  .fieldset__legend-br {
    display: none;
  }

  .fieldset__steps {
    display: block;
    margin: 0;
    margin-top: -60px;
    margin-left: auto;
    padding: 0;
    width: 227px;

    line-height: 1;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;

    list-style-type: none;
  }

  .fieldset__step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;

    &::before {
      content: "";
      margin-right: 38px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(128, 130, 133, 0.3);
    }

    &--active {
      color: #000000;

      &::before {
        background-color: $dark-slate-blue-color;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .fieldset__text {
    width: 750px;
  }

  .fieldset__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 56px;
  }

  /* Step 1 */

  .fieldset__travelmate-count {
    margin-bottom: 0;
  }

  .fieldset__travel-period {
    margin-top: 14px;
    margin-bottom: 32px;
  }

  .fieldset__children {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }

  /* Step 2 */

  .fieldset__dropdown-control {
    width: 100%;
  }

  .fieldset__dropdown-btn {
    width: calc(100% - 270px);
  }

  .fieldset__country-widget {
    &--expanded {
      width: calc(100% - 270px);
    }
  }

  /* Step 3 */

  .fieldset__roadmap:not(:last-of-type) {
    margin-bottom: 46px;
  }
}
