.filter {
  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $yellow-color;
  border-radius: $border-small-radius;
}

.filter__heading {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.filter__fieldset {
  margin: 0 5px;
  padding: 0;
  padding-top: 10px;

  border: none;
  border-top: 1px solid #f3c72b;

  &--opened,
  &--no-js {
    margin-bottom: 16px;

    .filter__legend-icon {
      transform: rotate(180deg);
    }

    &:last-of-type {
      margin-bottom: 22px;
    }
  }

  &--no-js {
    .filter__legend {
      display: block;
      text-align: left;
      pointer-events: none;
    }

    .filter__legend-icon {
      display: none;
    }
  }
}

.filter__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  padding: 0;
  margin: 0;
  margin-bottom: 11px;

  width: 100%;

  @include font(16px, 18px, $dark-slate-blue-color, bold);
  text-transform: uppercase;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.filter__legend-icon {
  width: 8px;
  height: 4px;
}

.filter__fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__field {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.filter__label {
  position: relative;
  display: block;
  padding-left: 18px + 9px;

  // По макету высота строки 15px, а высота чекбокса 18
  // Увеличиваю высоту строки до 18, чтобы выровнять чекбокс и лэйбл как на макете
  @include font(15px, 18px, $black-color, normal);
}

.filter__label-text {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $white-color;
    border-radius: 4px;
  }
}

.filter__checkbox {
  &:focus ~ .filter__label-text::before {
    outline: thin dotted;
  }

  &:checked ~ .filter__label-text::before {
    background-image: url("../../img/tick.svg");
    background-position: center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
  }
}

.filter__level-values {
  position: relative;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5px);

    width: 16px;
    height: 10px;
    background-color: $white-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1px);

    width: 16px;
    height: 1px;
    background-color: #cbced9;
  }
}

.filter__level-label {
  width: 50%;
}

.filter__level-value {
  display: block;
  padding: 7px 10px 8px 10px;
  width: 100%;
  box-sizing: border-box;

  @include font(15px, 15px, $dark-slate-blue-color, 500);
  text-align: center;
  border: 1px solid #cbced9;

  &--min {
    // По умолчанию включен левый бордюр правого элемента
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.filter__level-ranger {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-1px);
    width: 100%;
    height: 2px;
    background-color: rgba($color: $dark-slate-blue-color, $alpha: 0.2);
  }

  &::after {
    content: "";
    order: 2;
    flex-grow: 1;
    height: 2px;
    background-color: $dark-slate-blue-color;
  }
}

.filter__level-control {
  position: relative;
  z-index: 10;
  padding: 0;

  width: 10px;
  height: 10px;

  font-size: 0;

  background-color: $dark-slate-blue-color;
  border: 0;
  border-radius: 50%;

  cursor: pointer;

  &:first-of-type {
    order: 1;
    margin-left: 67px;
  }

  &:last-of-type {
    order: 3;
    margin-right: 45px;
  }
}

.filter__submit-btn {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .filter {
    padding-top: 37px;
    padding-bottom: 38px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }

  .filter__heading {
    margin: 0;
    margin-bottom: 34px;
  }

  .filter__fieldset {
    margin: 0;
    margin-bottom: 26px;
    border: none;

    &:first-of-type {
      padding-top: 35px;
      border-top: 1px solid #f3c72b;
    }

    &:last-of-type {
      padding-bottom: 36px;
      margin-bottom: 36px;
      border-bottom: 1px solid #f3c72b;
    }
  }

  .filter__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    &--transport,
    &--level {
      align-items: center;
    }
  }

  .filter__legend {
    display: block;
    text-align: left;
    margin-right: 5px;
    margin-bottom: 0;
    width: 115px;
    font-size: 20px;
    // Снизил с 30 (по макету), чтобы было горизонтальное выравнивание с чекбоксами
    line-height: 22px;
    font-weight: 500;
    border: none;
  }

  .filter__legend-icon {
    display: none;
  }

  .filter__fields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 492px;
  }

  .filter__field {
    margin-bottom: 0;
    width: 164px;
  }

  .filter__label {
    padding-left: 24px + 12px;
    font-size: 20px;
    // Поднимаю до высоты чекбокса
    line-height: 24px;
  }

  .filter__label-text {
    &::before {
      width: 24px;
      height: 24px;
    }
  }

  .filter__checkbox {
    &:checked ~ .filter__label-text::before {
      background-size: 12px 12px;
    }
  }

  .filter__transport-list {
    transform: translateX(-5px);
  }

  .filter__level-label {
    width: 75px;
  }

  .filter__level-values {
    order: 1;
    margin-left: auto;
    margin-bottom: 0;

    &::before {
      transform: translateY(-7px);

      width: 21px;
      height: 15px;
    }

    &::after {
      width: 21px;
    }
  }

  .filter__level-value {
    padding-top: 9px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 18px;
  }

  .filter__level-ranger {
    width: 282px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    padding-top: 48px;
    padding-bottom: 47px;
    padding-left: 48px;
    padding-right: 41px;
    box-sizing: border-box;
  }

  .filter__fieldset {
    padding-top: 0;

    &:first-of-type {
      padding-top: 0;
      margin-bottom: 20px;
      border-top: none;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 38px;
      border-bottom: none;
    }
  }

  .filter__wrapper {
    display: block;

    &--transport,
    &--level {
      .filter__legend {
        margin-bottom: 20px;
      }
    }
  }

  .filter__legend {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
    line-height: 30px;
  }

  .filter__fields {
    display: block;
    width: auto;
  }

  .filter__field {
    margin-bottom: 16px;
    width: auto;
  }

  .filter__transport-list {
    transform: translateX(0);
  }

  .filter__level-values {
    order: 0;
    margin-left: 0;
    margin-bottom: 31px;
  }

  .filter__level-label {
    width: 50%;
  }

  .filter__level-ranger {
    width: 100%;
  }
}
