.filter {
  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $yellow-color;
  border-radius: $border-small-radius;
}

// .filter__heading {
//   margin: 0;
//   @include font(22.5px, 22.5px, #1d2e5b, bold);
// }

.filter__legend {
  @include font(16px, 18px, #1d2e5b, bold);
  text-transform: uppercase;
}

.filter__label {
  @include font(15px, 15px, $black-color, normal);
}

@media (min-width: $tablet-width) {
  .filter {
    padding-top: 37px;
    padding-bottom: 38px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }

  // .filter__heading {
  //   @include font(30px, 30px, #1d2e5b, bold);
  // }

  .filter__legend {
    @include font(20px, 20px, $black-color, 400);
  }
}

@media (min-width: $desktop-width) {
  .filter {
    padding-top: 48px;
    padding-bottom: 47px;
    padding-left: 48px;
    padding-right: 41px;
    box-sizing: border-box;
  }
}
