.footer {
  padding-top: 38px;
  padding-bottom: 14px;
  @include font(16px, 22px, $black-color, 400);
  background-color: $white-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: block;
  margin-bottom: 41px;
  text-decoration: none;
}

.footer__picture {
  display: block;
}

.footer__logo-img {
  display: block;
}

.footer__social-list {
  margin-bottom: 37px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 48px;
    padding-bottom: 46px;
    border-top-left-radius: $border-large-radius;
    border-top-right-radius: $border-large-radius;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo,
  .footer__social-list,
  .footer__copyright {
    width: 33%;
    margin-bottom: 0;
  }

  .footer__logo-img {
    width: 164px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo-img {
    width: 198px;
    height: 52px;
  }
}
