.form__fieldset {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__text {
  clear: left;
}

.form__label {
  display: block;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    margin-bottom: 44px;
  }
}
