.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;

  &--centered {
    justify-content: center;
  }
}

.hashtag-list__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-right: 5px;

  &::before {
    content: "#";
  }
}

@media (min-width: $tablet-width) {
  .hashtag-list__item {
    margin-right: 6px;
  }
}
