.heading3 {
  margin: 0;
  @include font(21px, 1, $dark-slate-blue-color, 700);

  // TODO: Нужно вот также переносить, но сначало по словам, а потом, если слово длинное, то его переносить принудительно
  // @include wordWrap();

  &--country {
    color: $dark-blue-color;
  }

  &--catalog {
    font-size: 20px;
  }

  &--plans {
    font-size: 16px;
  }
}

@media (max-width: $tablet-width - 1) {
  .heading3 {
    &--filter {
      font-size: 23px;
    }
  }
}

@media (min-width: $tablet-width) {
  .heading3 {
    font-size: 24px;

    &--catalog {
      font-size: 30px;
    }

    &--plans {
      line-height: 50px;
    }
  }
}
