.header {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .header {
    background-color: #182044;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: $dark-blue-color;
  }
}
