.heading3 {
  margin: 0;
  @include font(21px, 21px, $dark-blue-color, 700);

  &--blue {
    color: $dark-slate-blue-color;
  }
}

@media (min-width: $tablet-width) {
  .heading3 {
    font-size: 24px;
    line-height: 24px;
  }
}
