.header {
  position: relative;
  z-index: 100;
  background-color: transparent;

  &--dark-blue {
    background-color: $dark-blue-color;
  }
}

@media (min-width: $tablet-width) {
  .header {
    background-color: #182044;

    &--dark-blue {
      background-color: $dark-blue-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: $dark-blue-color;
  }
}
