.inner-header {
  background-color: $dark-blue-color;
  border-bottom-left-radius: $border-small-radius;
  border-bottom-right-radius: $border-small-radius;
}

.inner-header__menu {
  margin-bottom: 28px;
}

.inner-header__title {
  margin: 0;
  @include font(36px, 40px, $white-color, 700);
}

.inner-header__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .inner-header {
    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;
  }

  .inner-header__title {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 69px;
  }
}
