.intro {
  padding-top: 19px;

  background-color: $blue-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @media (max-width: $tablet-width - 1) {
    // Необходимо для того, чтобы луну закрепить снизу блока, чтобы при увеличении ширины экрана
    // луна росла вверх, визуально расширяясь - этому способствует contain.
    // Как вариант, убрать этот блок и в самом intro добавить изображение луны, закрепленное сверху.
    // Тогда при увеличении ширины экрана луна будет уходить вниз, уходя с видимой части экрана ближе к планшетной ширине.
    // Если оставить луну как есть, без contain, то при расширении экрана она будет выглядеть огрызком посреди экрана.
    &::before {
      content: "";
      position: absolute;
      // Псевдо-блок с луной помещается под header (только на мобильной версии)
      // Высота header на М версии должна быть фиксированная,
      // там не может быть переполнения контентом - его там нет: только логотип и кнопка
      top: -73px;
      left: 0;
      right: 0;
      z-index: -1;

      width: 100%;
      height: 569px;

      background-image: url("../../img/globe-back-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../../img/globe-back-mobile@2x.jpg");
      }

      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.intro__wrapper {
  background-color: transparent;
}

// Уходим от центровщика. Здесь он только мешает
.intro__slogan,
.intro__image,
.intro__user {
  margin: 0 auto;
}

.intro__slogan {
  display: block;
  margin-bottom: 12px;
  width: $mobile-wrapper-width;
  text-align: center;
}

.intro__picture {
  display: block;
  margin-bottom: -23px;
}

.intro__image {
  display: block;
  padding-left: 30px;
  width: 192px;
  height: 255px;
}

.intro__user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -17px;
  width: $mobile-wrapper-width;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 36px;

    background-image: url("../../img/globe-back-tablet@1x.jpg"), linear-gradient(to bottom, #182044 868px, $blue-color 868px);

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/globe-back-tablet@2x.jpg"), linear-gradient(to bottom, #182044 868px, $blue-color 868px);
    }

    background-position: center top 256px, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 1479px 612px, 100% 100%;
    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;

    &::before {
      display: none;
    }
  }

  .intro__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;

    margin: 0 auto;
    padding: 0 $tablet-content-padding;

    width: $tablet-wrapper-width;
    box-sizing: border-box;
  }

  .intro__slogan {
    margin-bottom: 32px;
    width: 100%;
  }

  .intro__user {
    display: none;
  }

  .intro__picture {
    order: 1;
    margin-bottom: 0;
    margin-left: -60px;
  }

  .intro__image {
    padding-left: 0;
    width: 372px;
    height: 451px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 0;

    background-color: $dark-blue-color;
    background-image: url("../../img/globe-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/globe-back-desktop@2x.jpg");
    }

    background-position: center bottom;
    background-size: 1800px 750px;
  }

  .intro__wrapper {
    align-items: flex-start;
    padding-left: $desktop-content-padding;
    padding-right: 0;
    margin-bottom: -106px;
    width: $desktop-wrapper-width;
  }

  .intro__slogan {
    padding-top: 100px;
    margin-bottom: 0;
    width: 450px;
    text-align: left;
  }

  .intro__review {
    order: 2;
    padding-top: 112px;
    padding-bottom: 20px;
    margin-left: 53px;
    width: 285px;
  }

  .intro__picture {
    margin-left: auto;
  }

  .intro__image {
    width: 431px;
    height: 640px;
  }

  .intro__srv-list {
    transform: translateY(-123px);
  }
}
