.main__about,
.main__countries,
.main__travelmates,
.main__rates-b,
.main__rates,
.main__cta,
.main__contacts {
  position: relative;
  margin-bottom: -$border-radius;
}

.main__about {
  z-index: 90;
}

.main__countries {
  z-index: 80;
}

.main__travelmates {
  z-index: 70;
}

.main__rates-b {
  z-index: 75;
}

.main__rates {
  z-index: 60;
}

.main__cta {
  z-index: 50;
}

.main__contacts {
  z-index: 40;
}

// form
.main__user,
.main__plans {
  margin-bottom: -$border-radius;
}

// catalog
.main__country-filter {
  margin-bottom: -$border-small-radius;
}

@media (min-width: $tablet-width) {
  .main__about,
  .main__countries,
  .main__travelmates,
  .main__rates,
  .main__cta,
  .main__contacts {
    margin-bottom: -$border-large-radius;
  }

  // catalog
  .main__country-filter {
    margin-bottom: -$border-large-radius;
  }
}

@media (min-width: $desktop-width) {
  // form
  .main__user,
  .main__plans {
    margin-bottom: -$border-large-radius;
  }
}
