.map {
  min-height: 272px + 2 * $border-radius;
  background-image: url("../../img/map-mobile@1x.jpg");
  background-position: center top -5px;
  background-repeat: no-repeat;
  background-size: 320px auto;
}
