.menu-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-contact-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: #ff8d30;
  }

  &--mail {
    background-color: #ffbd30;
  }
}

.menu-contact-list__icon {
  width: 18px;
  height: 18px;
  fill: $dark-blue-color;
}

@media (min-width: $desktop-width) {
  .menu-contact-list {
    max-width: 150px;
  }

  .menu-contact-list__link {
    width: 50px;
    height: 50px;
  }
}
