.menu {
  padding-top: 27px;
  padding-bottom: 31px;

  &--opened,
  &--no-js {
    position: absolute;
    left: 0;
    right: 0;

    padding-bottom: 40px;

    background-color: $white-color;

    .menu__main-nav,
    .menu__auth-btn,
    .menu__contact-list {
      display: block;
      width: 100%;
    }

    .menu__social-list {
      display: flex;
      width: 100%;
    }
  }

  &--no-js {
    .menu__toggle-btn {
      display: none;
    }
  }
}

.menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__picture,
.menu__logo-img {
  display: block;
}

.menu__main-nav,
.menu__auth-btn,
.menu__contact-list,
.menu__social-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .menu {
    padding-top: 40px;

    &--opened,
    &--no-js {
      padding-bottom: 90px;

      .menu__social-list {
        justify-content: flex-start;
      }

      .menu__main-nav,
      .menu__contact-list,
      .menu__social-list {
        order: 1;
        padding-left: 60px;
        padding-right: 60px;
      }

      .menu__auth-btn {
        width: 190px;
      }
    }
  }

  .menu__auth-btn {
    display: block;
  }

  .menu__logo-img {
    width: 166px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    padding-top: 47px;

    &--opened,
    &--no-js {
      position: static;
      padding-bottom: 31px;
      background-color: transparent;

      .menu__main-nav,
      .menu__auth-btn,
      .menu__contact-list {
        width: auto;
      }

      .menu__main-nav,
      .menu__contact-list {
        padding-left: 0;
        padding-right: 0;
      }

      .menu__social-list {
        display: none;
      }
    }
  }

  .menu__toggle-btn {
    display: none;
  }

  .menu__main-nav,
  .menu__contact-list {
    display: block;
  }

  .menu__logo-img {
    width: 200px;
    height: 52px;
  }

  .menu__auth-btn {
    order: 2;
  }
}
