.menu {
  padding-top: 27px;
  padding-bottom: 51px;
}

.menu__main-nav {
  display: none;
}

.menu__contact-list {
  display: none;
}

.menu__auth-btn {
  display: none;
}

.menu__social-list {
  display: none;
}
