.page {
  margin: 0;
  padding: 0;
  color: $black-color;
  background-color: $white-color;
}

.page__header {
  position: relative;
  z-index: 100;
  margin-bottom: -$border-radius;
}

.page__inner-header {
  position: relative;
  z-index: 100;
  margin-bottom: -$border-small-radius;
}

.page__main {
  margin-bottom: -$border-radius;
}

@media (min-width: $tablet-width) {
  .page__header {
    margin-bottom: -$border-large-radius;
  }

  .page__inner-header {
    margin-bottom: -$border-large-radius;
  }

  .page__main {
    margin-bottom: -$border-large-radius;
  }
}
