.plans {
  padding-top: 30px;
  padding-bottom: 30px + $border-radius;
  background-color: #dfe3f0;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.plans__heading {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .plans {
    padding-top: 58px;
    padding-bottom: 74px + $border-radius;
  }

  .plans__wrapper {
    padding: 0 $tablet-content-padding;
  }

  .plans__heading {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    padding-top: 58px;
    padding-bottom: 63px + $border-large-radius;
    border-top-left-radius: $border-large-radius;
    border-top-right-radius: $border-large-radius;
  }

  .plans__wrapper {
    padding-left: $desktop-content-padding;
    padding-right: 0;
  }
}
