.plan {
  padding: 26px;
  background-color: $white-color;
  border-radius: 10px;
}

.plan__title {
  margin: 0;
  @include font(16px, 16px, #1d2e5b, 700);
}

@media (min-width: $tablet-width) {
  .plan {
    padding-top: 40px;
    padding-bottom: 19px;
    padding-left: 34px;
    padding-right: 36px;
  }

  .plan__title {
    @include font(24px, 50px, #1d2e5b, 700);
  }
}

@media (min-width: $desktop-width) {
  .plan {
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 44px;
    padding-right: 42px;
  }
}
