.review {
  padding-top: 50px;
  padding-bottom: 112px;
  margin: 0;
  margin-bottom: -77px;

  background-color: $dark-blue-color;
}

.review__text {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: $mobile-content-padding;
  padding-right: 76px;
  width: $mobile-wrapper-width;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .review {
    padding-top: 54px;
    padding-bottom: 210px;
    margin: 0;
    width: 270px;
    background-color: transparent;
  }

  .review__text {
    padding: 0;
    margin: 0;
    margin-bottom: 46px;
    width: auto;
  }
}
