.review {
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: $mobile-content-padding;
  padding-right: $mobile-content-padding;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
}
