.site-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  max-width: 738px;
  list-style: none;

  &::before {
    content: "";
    display: block;
    margin-right: 45px - 37px;
    width: 60px;
    height: 2px;
    background-color: $white-color;
  }
}

.site-list__item {
  margin-left: 37px;
}

.site-list__link {
  @include font(20px, 30px, $white-color, 500);
  text-transform: uppercase;
  text-decoration: none;
}
