.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__link {
  display: block;
  min-width: 45px;
  min-height: 45px;
  font-size: 0;
  background-color: $yellow-color;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .social-list__link {
    width: 60px;
    height: 60px;
  }
}
