.step-1__calendar {
  margin: 0 auto;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .step-1__calendar {
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .step-1__calendar {
    margin-bottom: 56px;
  }
}
