.title {
  padding-top: 17px;
  padding-bottom: 8px;
  background-color: $dark-blue-color;
  border-bottom-left-radius: $border-small-radius;
  border-bottom-right-radius: $border-small-radius;
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include wordWrap();
}

.title__heading {
  &::after {
    content: "";
    display: block;
    height: 5px;
    transform: translateY(10px);
    background-color: $orange-color;
    border-radius: 2px;
  }
}

.title__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .title {
    padding-top: 83px;
    padding-bottom: 58px;
    border-bottom-left-radius: $border-large-radius;
    border-bottom-right-radius: $border-large-radius;
  }

  .title__wrapper {
    padding: 0 $tablet-content-padding;
  }

  .title__heading {
    &::after {
      height: 8px;
      transform: translateY(62px);
      border-radius: 4px;
    }
  }

  .title__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10px;

    width: 40%;

    @include font(20px, 24px, $white-color, 700);
    text-decoration: none;
    text-transform: uppercase;
  }

  .title__icon {
    fill: $white-color;
    flex-shrink: 0;
    margin-left: 28px;
  }
}

@media (min-width: $desktop-width) {
  .title__wrapper {
    padding: 0 $desktop-content-padding;
  }
}
