.traveller {
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  @include font(15px, 18px, $black-color, normal);
  background-color: $white-color;
  border-radius: $border-small-radius;
}

.traveller__link {
  text-decoration: none;
}

.traveller__name {
  margin: 0;
  @include font(20px, 20px, #1d2e5b, 700);
}
