.travellers__item {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .travellers__item {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .travellers__item {
    margin-bottom: 30px;
  }
}
