.user {
  padding-top: 22px + $border-small-radius;
  padding-bottom: 33px + $border-radius;

  @include font(16px, 22px, $black-color, normal);
  background-color: $lilac-color;
}

.user__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user__level {
  margin-left: 19px;
  width: 100px;
  height: 100px;
}

.user__picture {
  margin-left: 35px;
}

.user__img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__photo-btn {
  margin-top: 20px;
  margin-bottom: 26px;
  width: 100%;
}

.user__fieldset {
  margin: 0;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.user__tags {
  padding-top: 10px;
  margin-bottom: 18px;
}

.user__label {
  display: block;
}

.user__textarea {
  display: block;
  padding: 0;
  width: 100%;
  height: 44px;
  font: inherit;

  // resize: vertical;
  resize: none;
  background-color: transparent;
  border: none;
}

.user__transport {
  padding: 14px;
  padding-top: 6px;

  .user__legend {
    padding: 0 14px;
  }
}

.user__legend {
  padding: 0 17px;
  text-align: center;

  @include font(16px, 18px, $dark-slate-blue-color, 700);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .user {
    padding-top: 64px + $border-large-radius;
    padding-bottom: 60px + $border-radius;
    font-size: 20px;
    line-height: 24px;
  }

  .user__wrapper {
    justify-content: space-between;
    padding: 0 $tablet-content-padding;
  }

  .user__transport,
  .user__level {
    order: -1;
  }

  .user__level {
    margin-left: 0;
    width: 94px;
    height: 94px;
  }

  .user__picture {
    margin-left: 0;
  }

  .user__img {
    width: 94px;
    height: 94px;
    border-radius: $border-extra-small-radius;
  }

  .user__photo-btn {
    margin-top: 52px;
    margin-bottom: 51px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: $border-extra-small-radius;
  }

  .user__fieldset {
    padding: 34px 38px;

    .user__legend {
      padding: 0 20px;
    }
  }

  .user__tags {
    position: relative;
    margin-bottom: 0;
  }

  .user__textarea {
    height: 24px;
  }

  .user__transport {
    position: relative;
    padding-top: 24px;
    padding-bottom: 25px;
    width: 308px;
  }

  .user__legend {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    @include font(20px, 18px, $dark-slate-blue-color, 500);
    background-color: $lilac-color;
  }
}

@media (min-width: $desktop-width) {
  .user {
    padding-top: 0;
    padding-bottom: 65px + $border-large-radius;
  }

  .user__wrapper {
    justify-content: flex-end;
    align-items: center;

    margin-top: -190px;

    padding-left: 64px;
    padding-right: 0;
  }

  .user__level {
    position: relative;
    z-index: 100;
    margin-right: 45px;
  }

  .user__picture {
    position: relative;
    z-index: 100;
    margin-right: 95px;
  }

  .user__img {
    width: 190px;
    height: 190px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .user__photo-btn {
    margin-top: -40px;
    margin-bottom: 27px;
    margin-left: 548px;
    margin-right: 95px;
    width: 190px;
  }

  .user__transport,
  .user__level {
    order: 0;
  }

  .user__fieldset {
    box-sizing: border-box;
  }

  .user__tags {
    width: 730px;

    .user__legend {
      left: 18px;
      transform: translateY(50%);
    }
  }

  .user__transport {
    margin-left: 142px;
    width: 384px;
  }
}
