.header__menu {
  // min-height: 477px;
  box-sizing: border-box;
  outline: 1px solid red;
}

.menu {
  outline: 1px solid greenyellow;
  outline-offset: -1px;
}

.review {
  outline: 1px solid white;
}

.wrapper {
  outline: 1px solid red;
  outline-style: dotted;
}

.form__fieldset {
  outline: 1px solid orange;
}

.form__wrapper {
  outline: 1px solid green;
}

.filter {
  outline: 1px solid green;
  outline-offset: -1px;
}

.data {
  outline: 1px solid green;
  outline-offset: -1px;
}

.country-filter {
  &--expanded {
    outline: 1px solid black;
    outline-offset: -1px;
  }
}
