.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: $mobile-wrapper-width;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: $tablet-wrapper-width;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-wrapper-width;
  }
}
