.visually-hidden {
  @include visuallyHidden();
}

.wrapper {
  margin: 0 auto;
  width: $mobile-wrapper-width;
  box-sizing: border-box;

  &--mtd {
    padding-left: $mobile-content-padding;
    padding-right: $mobile-content-padding;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: $tablet-wrapper-width;
    // TODO: Это есть?
    &--mtd,
    &--0td {
      padding-left: $tablet-content-padding;
      padding-right: $tablet-content-padding;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-wrapper-width;

    &--mtd,
    &--0td {
      padding-left: $desktop-content-padding;
      padding-right: 4px + $desktop-content-padding;
    }
  }
}
